/* Media Query  */
@media(min-width:500px){
   
   .random_grid .col1{
    width:100%;
   }
   .picture_gallary {
    height:400vh;
   }
   .picture_gallary .grid_picture{
    grid-template-columns: 1fr;
   }
}

/* for screen sm(640px;) */
@media(min-width:640px){
    .sm-text-xl span{
    font-size:3rem;
   }
   .random_grid .col1{
    width:100%;
   }
   .picture_gallary .grid_picture{
    grid-template-columns: 1fr 1fr;
   }
   .footer_area {
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    gap: 4vh;
    padding-top:25vh;
  }
}
/* for screen md(768px;) */
@media(min-width:768px){
    #nav .toggle-btn button{
        display:none;
       }
       #nav .collapse{
        max-height:initial !important;
    }
    #nav .collapse ul{
        flex-direction:row !important;
    }
    .md-text-left{
        padding:left !important;
    }
    .grid-image{
        align-items:center;
        margin:0 auto;
    }
    .grid-image img{
        width:80%;
        height:300px;
    }
    .random_picture{
        width:50%;
    }
    .random_grid .col1{
        width:50%;
       }
       .picture_gallary .grid_picture{
        grid-template-columns: 1fr 1fr 1fr;
       }
      
      
/* for screen lg(1024px;) */
@media(min-width:1024px){
    #nav .toggle-btn button{
     display:none;
    }
    #nav .collapse{
        max-height:initial !important;
    }
    #nav .collapse ul{
        flex-direction:row !important;
    }  
    .lg-cols-3{
        grid-template-columns:repeat(3,minmax(0,1fr))!important;
    }
    /*=======================Contact Area=================*/
    .lg-cols-2{
        grid-template-columns:repeat(2,minmax(0,1fr))!important;
    }
    .life-area .grid{
        display:flex;
        object-fit:cover;
       }
       .random_grid .col1{
      width:33%;
    }
}
/*=======================/contact Area=================*/
    

/* for screen xl(1280px;) */
@media(min-width:1280px){
    #nav .toggle-btn button{
        display:none;
       }
    #nav{
        background:transparent !important;
    }
    #nav .flex-initial ul button{
        display:inline-block !important;
    }
    .lg-cols-2{
        grid-template-columns:repeat(2,minmax(0,1fr))!important;
    }
    .random_grid .col1{
        width:25%;
       }
    }